<div style="position: absolute; top: 40%; left: 40%;">
    <mat-spinner *ngIf="loadding == true" ></mat-spinner>
  </div>
  <div class="" style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Booking">
        <div class="row" style="padding-top: 30px;">
          <h2 style="font-weight: 500;">Danh sách Booking Container từ tàu</h2>
        </div>
        <div class="row" style=" margin-bottom: 25px;">
          <div class="row" style=" margin-bottom: 25px;">
            <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="Kế hoạch">
                    </div>
                </div>
            </div>
            <div class="col-sm-2" >
              <div class="row" >
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Thao tác
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="DowloadTemplate()">Dowload Template</a></li>
                    <li><a class="dropdown-item"(click)="openUpload()">Upload</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                  <thead >
                    <tr >
                      <th style="text-align: center;">STT</th>
                      <th>FileName</th>
                      <th>Ngày Tạo</th>
                      <th>Người Tạo</th>
                      <th  style="text-align: center;">Hành động</th>
                    </tr>
                  </thead>
                  <tbody style="border-top: none;">
                    <tr *ngFor="let item of lstdataBooking.data; index as i" class="align-middle">
                      <td style="text-align: center;">{{i + 1}}</td>
                      <td (click)="DowloadFile(item.pathFile)" style="cursor: pointer;">{{item.pathFile}}</td>
                      <td>{{item.createdOn  | date: 'dd/MM/yyyy'}}</td>
                      <td>{{item.createdBy}}</td>
                      <td style="text-align: center;">
                        <i class="bi bi-trash3"  title="Xóa" style="font-size:18px;padding-left: 5px;cursor: pointer;" ></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
          <div>
            <!-- <app-pagination [Pagination]="PagingBooking" (changePage)="onChangePage($event)"></app-pagination> -->
          </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Kế hoạch">
        <div class="row" style="padding-top: 30px;">
          <h2 style="font-weight: 500;">Danh sách kế hoạch Container từ tàu</h2>
        </div>
        <div class="row" style=" margin-bottom: 25px;">
            <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="Chuyến nhập xuất" [(ngModel)]="PageInfo.Voyace" (ngModelChange)="onSearchVoyace($event)">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="Mã container (có thể nhập 4 số cuối của cont)" [(ngModel)]="PageInfo.ContNo" (ngModelChange)="onSearchContainer($event)">
                    </div>
                </div>
            </div>
            <div class="col-sm-3" >
              <div class="row" >
                <div class="col-sm-6" >
                  <button type="button" class="btn btn-success" style="width: 100%" [disabled]="lstCheckAction.length <= 0" (click)="bulkAction()">Xác nhận</button>
                </div>
                <div class="col-sm-6" >
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Hành động
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" (click)="openCreate()">Thêm mới</a></li>
                      <li><a class="dropdown-item" (click)="openImport()">Import</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
          <div class="row" >
              <div class="table-responsive">
                  <table class="table table-striped table-hover">
                      <thead >
                        <tr >
                          <th  style="text-align: center;">STT</th>
                          <th></th>
                          <th>Chuyến nhập xuất</th>
                          <th>Người nhận hàng</th>
                          <th>Hàng Hóa</th>
                          <th>Mã Container</th>
                          <th>Ngày trả</th>
                          <th  style="text-align: center;">Hành động</th>
                        </tr>
                      </thead>
                      <tbody style="border-top: none;">
                        <tr *ngFor="let item of lstdata.data; index as i" class="align-middle">
                          <td style="text-align: center;">{{i + 1}}</td>
                          <td ><input type="checkbox" value="" id="flexCheckChecked" (click)="addAction(item.id)"></td>
                          <td>{{item.voyace}}</td>
                          <td>{{item.receiver}}</td>
                          <td>{{item.commodity}}</td>
                          <td>{{item.contNo}}</td>
                          <td>{{item.returnPlan}}</td>
                          <td style="text-align: center;"><i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;"
                            (click)="openEdit(item.id)"></i><i class="bi bi-trash3" 
                            style="font-size:15px;padding-left: 5px;cursor: pointer;" (click)="openDelete(item.id)"></i></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div>
                <app-pagination [Pagination]="Pagination" (changePage)="onChangePage($event)"></app-pagination>
              </div>
          </div>
      </mat-tab>
      <mat-tab label="Thực hiện">
        <div class="row">
          <h2 style="font-weight: 500;">Danh sách Thực hiện Ship to Port</h2>
        </div>
        <div class="row" style=" margin-bottom: 25px;">
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's username"
              aria-describedby="button-addon2" >
          </div>
          <div class="col-sm-8" style="text-align: right;">
      
            <button class="btn btn-outline-secondary" type="button" id="button-addon3" >Thêm
              mới</button>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead >
                    <tr >
                        <th  style="text-align: center;">STT</th>
                        <th>Chuyến nhập xuất</th>
                        <th>Người nhận hàng</th>
                        <th>Hàng Hóa</th>
                        <th>Mã Container</th>
                        <th>Ngày trả</th>
                        <th  style="text-align: center;">Hành động</th>
                    </tr>
                  </thead>
              <tbody style="border-top: none;">        
                <tr *ngFor="let item of lstdatathuchien.data; index as i" class="align-middle">
                    <td style="text-align: center;">{{i + 1}}</td>
                    <td>{{item.voyace}}</td>
                    <td>{{item.receiver}}</td>
                    <td>{{item.commodity}}</td>
                    <td>{{item.contNo}}</td>
                    <td>{{item.returnPlan}}</td>
                    <td style="text-align: center;"><i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;"
                      (click)="openEdit(item.id)"></i><i class="bi bi-trash3" 
                      style="font-size:15px;padding-left: 5px;cursor: pointer;" (click)="openDelete(item.id)"></i></td>
                  </tr>
              </tbody>
            </table>
          </div>
      
          <div>
            <app-pagination [Pagination]="Paginationthuchien" (changePage)="onChangePageThuchien($event)"></app-pagination>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  