<div class="container-lg" style="width: 700px" >
    <form  (ngSubmit)="onSubmit()" [formGroup]="CreateEditForm">
        <div class="row">
            <div  *ngIf="isCreate; else elseBlock" class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">Thêm mới</div >
                <ng-template #elseBlock  style="font-size: large; font-weight: 500; border-bottom: 1px solid #9d9d9d;">
                    <div class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">
                        Sửa Cont xuất tàu
                    </div> 
                </ng-template>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Chuyến nhập xuất</label>
                    <input type="text" class="form-control" formControlName="Voyace">
                    <div *ngIf="submited && Voyace?.errors?.['required']">
                       <span *ngIf="Voyace?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>  
                   </div>
                </div>  
          </div>
          <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Loại hàng hóa</label>
                    <input type="text" class="form-control" formControlName="Commodity">
                    <div *ngIf="submited && Commodity?.errors?.['required']">
                       <span *ngIf="Commodity?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>  
                   </div>
                </div>  
          </div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ngày Xuất</label>
                    <input type="datetime-local" class="form-control" formControlName="DateExport">
                    <div *ngIf="submited && DateExport?.errors?.['required']">
                       <span *ngIf="DateExport?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>  
                   </div>
                </div>  
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mã container</label>
                <input type="text" class="form-control" formControlName="ContNo">
                <div *ngIf="submited && ContNo?.errors?.['required']">
                   <span *ngIf="ContNo?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>  
               </div>
            </div>  
                  
          </div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Loại container</label>
                    <select formControlName="TypeCont" class="form-control" style="width: 100%;">
                        <option *ngFor="let item of lstContainer" [value]="item.id">{{item.name}}
                        </option>
                    </select>
                </div>  
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mã Seal</label>
                <input type="text" class="form-control" formControlName="SealNo">
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">GW</label>
                    <input type="number" class="form-control" formControlName="GW">
                </div>  
          </div>
          <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Để Lại</label>
                    <select formControlName="IsLeave" class="form-control" style="width: 100%;">
                        <option *ngFor="let item of lstStatus" [value]="item.value">{{item.text}}
                        </option>

                    </select>
                    <div *ngIf="submited && IsLeave?.errors?.['required']">
                        <span *ngIf="IsLeave?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>  
                    </div>
                </div>  
          </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button type="button" class="btn btn-primary" type="submit">Lưu</button>
            <button type="button" class="btn btn-danger" style="margin-left: 10px;" mat-button mat-dialog-close>Hủy bỏ</button>
        </div>
    </form>
</div>

