<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Biển số xe</mat-label>
    <input type="text" aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.licensePlates">
        {{option.licensePlates}} - {{option.nameDriver}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
