.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
  padding: 0rem !important;
}

::ng-deep  .mat-form-field-wrapper {
  padding: 0px;
}

::ng-deep input {
  margin-bottom: 2px !important;
  margin-left: 10px !important;
}
