.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    border: none;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}

.grid-container .grid-item .child {
    box-shadow: 0px 0px 10px -6px #000000;
}

.grid-container .grid-item .child .header{
    padding: 15px;
    background-color: #99b7b73d;
}

.grid-container .grid-item .child .body{
    padding: 0px 15px 15px 15px;
}