<div style="position: absolute; top: 40%; left: 40%;">
  <mat-spinner *ngIf="loading == true"></mat-spinner>
</div>

<div class="" style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
  <mat-tab-group animationDuration="0ms" (selectedIndexChange)="myTabSelectedIndexChange($event)">
    <mat-tab label="Danh sách container">
      <div class="row">
        <h2 style="font-weight: 500;">Danh sách container</h2>
      </div>
      <div class="row" style=" margin-bottom: 25px;">
        <div class="col-sm-4 d-flex">
          <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's customer"
            aria-describedby="button-addon2" [(ngModel)]="PageInfo.Keyword" (ngModelChange)="onSearch($event)">
        </div>
        <div class="col-sm-8 d-flex justify-content-end" style="text-align: right;">
          <button class="btn btn-outline-secondary" type="button" id="button-addon3" (click)="openCreate()">Thêm
            mới</button>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th style="text-align: center;">STT</th>
                  <th>Mã container</th>
                  <th>Tên Khách hàng</th>
                  <th>Loại container</th>
                  <th>Tình trạng</th>
                  <th>Phương án</th>
                  <th>Hướng</th>
                  <th>Trạng thái</th>
                  <th>Ngày cập bến</th>
                  <th>Ngày rời bến</th>
                  <!-- <th>Trạng thái</th> -->
                  <th style="text-align: center;">Hành động</th>
                </tr>
              </thead>
              <tbody style="border-top: none;">
                <tr *ngFor="let item of lstdata.data; index as i" class="align-middle">
                  <td style="text-align: center;">{{i + 1}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.customer}}</td>
                  <td>{{item.type}}</td>
                  <th>{{convertHelper.showStatus(item.status)}}</th>
                  <td>{{convertHelper.showActivity(item.activity)}}</td>
                  <td>{{convertHelper.showSide(item.side)}}</td>
                  <td>{{convertHelper.showState(item.state)}}</td>
                  <td>{{item.dateCheckIn}}</td>
                  <td>{{item.dateCheckOut | date:'short'}}</td>
                  <td style="text-align: center;"><i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;"
                      (click)="openEdit(item.code)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <app-pagination [Pagination]="Pagination" (changePage)="onChangePage($event)"></app-pagination>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Lịch sử container">
      <app-container-history-index *ngIf="selected == 1"></app-container-history-index>
    </mat-tab>
    <mat-tab label="Danh sách ảnh container">
      <app-container-img-index *ngIf="selected == 2"></app-container-img-index>
    </mat-tab>
  </mat-tab-group>
