<div style="position: absolute; top: 40%; left: 40%;">
  <mat-spinner *ngIf="loading == true"></mat-spinner>
</div>

<div class="" style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
  <mat-tab-group animationDuration="0ms" (selectedIndexChange)="myTabSelectedIndexChange($event)">
    <mat-tab label="Danh sách container">
      <!-- <div class="row">
        <h2 style="font-weight: 500;">Danh sách container</h2>
      </div> -->
      <div class="row" style=" margin-bottom: 25px;margin-top: 10px;;">
        <div class="col-sm-4 d-flex">
          <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's customer"
            aria-describedby="button-addon2" [(ngModel)]="PageInfo.Keyword" (ngModelChange)="onSearch($event)">
        </div>
        <div class="col-sm-8 d-flex justify-content-end" style="text-align: right;">
          <button class="btn btn-outline-secondary" type="button" id="button-addon3" (click)="openCreate()">Thêm
            mới</button>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th style="text-align: center;">STT</th>
                  <th>Mã container</th>
                  <th>Tên Khách hàng</th>
                  <th>Loại container</th>
                  <th>Tình trạng</th>
                  <th>Phương án</th>
                  <th>Hướng</th>
                  <th>Trạng thái</th>
                  <th>Ngày cập bến</th>
                  <th>Ngày rời bến</th>
                  <!-- <th>Trạng thái</th> -->
                  <th style="text-align: center;">Hành động</th>
                </tr>
              </thead>
              <tbody style="border-top: none;">
                <tr *ngFor="let item of lstdata.data; index as i" class="align-middle">
                  <td style="text-align: center;">{{i + 1}}</td>
                  <td>{{item.contNo}}</td>
                  <td>{{item.customer}}</td>
                  <td>{{item.type}}</td>
                  <th>{{convertHelper.showStatus(item.status)}}</th>
                  <td>{{convertHelper.showActivity(item.activity)}}</td>
                  <td>{{convertHelper.showSide(item.side)}}</td>
                  <td>{{convertHelper.showState(item.state)}}</td>
                  <td>{{item.dateCheckIn}}</td>
                  <td>{{item.dateCheckOut | date:'short'}}</td>
                  <td style="text-align: center;"><i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;"
                      (click)="openEdit(item.contNo)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <app-pagination [Pagination]="Pagination" (changePage)="onChangePage($event)"></app-pagination>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Lịch sử container">
      <app-container-history-index *ngIf="selected == 1"></app-container-history-index>
    </mat-tab>
    <mat-tab label="Hình ảnh">

      <div class="row" style="margin-top: 10px;">

        <div class="col-sm-2">
          <input type="text" class="form-control" placeholder="Từ ngày" onfocus="(this.type='date')"
            [ngModel]="ImagesContSeach.FromDate" (ngModelChange)="onSearchFromDate($event)">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" placeholder="Đến ngày" onfocus="(this.type='date')"
            [ngModel]="ImagesContSeach.ToDate" (ngModelChange)="onSearchToDate($event)">
        </div>


        <div class="col-sm-3">
          <ng-select [disabled]="CheckedImagesEmtry" [(ngModel)]="selectedCont" (click)="ddlContChange($event)">
            <ng-option *ngFor="let item of lstCont" [value]="item.code">{{item.code}}</ng-option>
          </ng-select>
        </div>
        <div class="col-sm-2">
          <div class="form-group " style="margin-top: 10px;">
            <input formControlName="status" type="checkbox" checked="checked" class="mr-2" style="margin-right: 5px;"
              (change)="checkSelected($event)">
            <label for="txtStatus">Chưa gắn Container</label>
          </div>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-outline-secondary" type="button" id="button-addon3" (click)="btnSeach_Click()">Tìm
            kiếm</button>
        </div>
      </div>
      <hr>
      <div style="height: 524px; overflow-y: scroll;    overflow-x: hidden;">
        <div *ngFor="let item of listImages; index as i">
          <div style="float: left;width: 25%;;">
            <div
              style=" font-size: large; width: 100% !important; max-width: 100% !important; display: table; padding: 14px 10px; font-size: initial;">
              {{item.createdOn | date : 'dd/MM/yyyy' }}
              <span style="font-size: 12px;">
                {{item.createdOn | date : 'hh:mm' }}
              </span>
              ({{item.createdBy}})
            </div>
            <div style="padding: 0px 10px;">
              <a (click)="setOpen(item)" style="cursor: pointer;">
                <img *ngIf="item.urlImage" [src]="UrlRoot + item.urlImage" style=" height: 220px; overflow: hidden; width: 100%; border: 1px solid #746f6f;
                ">
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
