<div style="position: absolute; top: 40%; left: 40%;">
  <mat-spinner *ngIf="loadding == true" ></mat-spinner>
</div>
<div class="" style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
  <mat-tab-group animationDuration="0ms" [selectedIndex]="2">
    <mat-tab label="Booking">
      <div class="row" style="padding-top: 30px;">
        <h2 style="font-weight: 500;">Danh sách Booking Container từ cảng</h2>
      </div>
      <div class="row" style=" margin-bottom: 25px;">
        <div class="row" style=" margin-bottom: 25px;">
          <div class="col-sm-10">
              <div class="row">
                  <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Kế hoạch" [(ngModel)]="PageInfoBooking.FileName" (ngModelChange)="onSearchFileName($event)">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Từ ngày"  onfocus="(this.type='date')" [(ngModel)]="PageInfoBooking.FromDate" (ngModelChange)="onSearchBookingFromDate($event)">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Đến ngày" onfocus="(this.type='date')" [(ngModel)]="PageInfoBooking.ToDate" (ngModelChange)="onSearchBookingFromDate($event)">
                  </div>
              </div>
          </div>
          <div class="col-sm-2" >
            <div class="col-sm-12 d-flex justify-content-end" style="text-align: right;">
              <div class="file-input">
                <input type="file" name="file-input" id="file-input" class="file-input__input" (change)="fileUpload($event)" />
                <label class="file-input__label btn btn-success" for="file-input">
                  <i class="bi bi-cloud-upload"></i>
                  <span>Upload file</span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead >
                  <tr >
                    <th style="text-align: center;">STT</th>
                    <th>FileName</th>
                    <th>Ngày Tạo</th>
                    <th>Người Tạo</th>
                    <th  style="text-align: center;">Hành động</th>
                  </tr>
                </thead>
                <tbody style="border-top: none;">
                  <tr *ngFor="let item of lstdataBooking.data; index as i" class="align-middle">
                    <td style="text-align: center;">{{i + 1}}</td>
                    <td (click)="DowloadFile(item.pathFile)" style="cursor: pointer;">{{item.pathFile}}</td>
                    <td>{{item.createdOn  | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.createdBy}}</td>
                    <td style="text-align: center;">
                      <i class="bi bi-trash3"  title="Xóa" style="font-size:18px;padding-left: 5px;cursor: pointer;" ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div>
          <app-pagination [Pagination]="PagingBooking" (changePage)="onChangePage($event)"></app-pagination>
        </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Danh sách KH - TH">
      <div class="row">
        <h2 style="font-weight: 500;">Danh sách Xuất Container lên tàu</h2>
      </div>
      <div class="row" style=" margin-bottom: 25px;">
          <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Chuyến nhập xuất " [(ngModel)]="PageInfo.Voyace" (ngModelChange)="onSearchVoyace($event)">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Mã container" [(ngModel)]="PageInfo.ContNo" (ngModelChange)="onSearchContainer($event)">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Từ ngày"  onfocus="(this.type='date')" [(ngModel)]="PageInfo.FromDate" (ngModelChange)="onSearchFromDate($event)">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Đến ngày" onfocus="(this.type='date')" [(ngModel)]="PageInfo.ToDate" (ngModelChange)="onSearchToDate($event)">
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
            <div class="row" >
              <!-- <div class="col-sm-6" >
                <button type="button" class="btn btn-success" style="width: 100%" [disabled]="lstCheckAction.length <= 0" (click)="bulkAction()">Xuất Container</button>
              </div>
              <div class="col-sm-6" > -->
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle"  style="width: 100%" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Hành động
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="openCreate()">Thêm mới</a></li>
                    <li><a class="dropdown-item" (click)="openImport()">Thêm mới danh sách kế hoạch</a></li>
                    <li><a class="dropdown-item" (click)="openImportTH()">Thêm mới danh sách thực hiện</a></li>
                    <li><a class="dropdown-item" (click)="DowloadTemplate()">DownLoad Template</a></li>
                  </ul>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="row" >
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th style="text-align: center;">STT</th>
                        <th>Chuyến</th>
                        <th>Mã Container</th>
                        <th>Phương Án</th>
                        <th>Loại hàng hóa</th>
                        <th>Kế hoạch Ngày Xuất Cảng</th>
                        <th>Ngày Xuất Cảng</th>
                        <th>Cân nặng</th>
                        <!-- <th>Trạng thái</th> -->
                        <th  style="text-align: center;">Hành động</th>
                      </tr>
                    </thead>
                    <tbody style="border-top: none;">
                      <tr *ngFor="let item of lstdata.data; index as i" class="align-middle">
                        <td style="text-align: center;">{{i + 1}}</td>
                        <td>{{item.chuyen}}</td>
                        <td>{{item.contNo}} </td>
                        <td>{{GetDirecttion(item.activity)}}</td>
                        <td>{{item.hangHoa}}</td>
                        <td>{{item.dateCheckOut | date: 'dd/MM/yyyy' }}</td>
                        <td>{{item.lastExportDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{item.gw}}</td>
                        <!-- <td>{{GetStatus(item.step)}}</td> -->
                        <td style="text-align: center;"><i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;"
                          (click)="openEdit(item.contNo)"></i>
                          <i class="bi bi-trash3"
                          style="font-size:15px;padding-left: 5px;cursor: pointer;" (click)="openDelete(item.id)"></i>
                          <i *ngIf="item.step == 5 || item.step == 7" class="bi bi-arrow-right-square" (click)="ExportCont(item.contNo)" style="font-size:15px;padding-left: 5px;cursor: pointer;" title="Xuất Cont"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div>
              <app-pagination [Pagination]="Pagination" (changePage)="onChangePage($event)"></app-pagination>
            </div>
            <!-- Button trigger modal -->
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
