<div class="container">
    <div class="row">
        <div style="display: inline-flex;font-size: 20px;">Bạn đang xác nhận import Cont <p style="color: red;padding: 0 5px 0 5px;font-size: 25px;">  {{ContNo}} </p> vào vị trí <p style="color: red;padding: 0 5px 0 5px;font-size: 25px;"> {{Location}} </p> trong cảng</div>
    </div>
    <div class="row"  style="padding-top: 20px;">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" (click)="bulkAction()">Đồng ý</button>
            <button type="button" class="btn btn-danger" style="margin-left: 10px;" mat-button mat-dialog-close>Hủy bỏ</button>
       </div>
    </div>
</div>
