<div class="main-login">
    <div class="box-login">
        <div class="Logo">
            <img src="../../../../assets/img/logo-cualo-3.jpg" style="width: 150px" alt="">
        </div>
        <div class="form">
            <div class="form-input">
                <mat-form-field class="example-full-width">
                  <mat-label>Tên đăng nhập</mat-label>
                  <input matInput [(ngModel)]= "User.userName">
                </mat-form-field>
            </div>
            <div class="form-input">
                <mat-form-field class="example-full-width" >
                  <mat-label>Mật khẩu</mat-label>
                  <input matInput type="password" [(ngModel)]= "User.password"/>
                </mat-form-field>
            </div>
            <div class="form-action">
                <mat-checkbox class="example-margin">Remember me!</mat-checkbox>
            </div>
            <div class="form-action">
                <button mat-raised-button color="primary" (click)="onLogin(User)">Đăng Nhập</button>
            </div>
            <div class="form-action">
                <a routerLink="forgotPassword">Quên mật khẩu</a>
            </div>
        </div>
    </div>
</div>