<mat-sidenav-container>
    <mat-sidenav  mode="side" [(opened)]="opened">
      <p>LOGO CẢNG</p>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <div class="toolbar-left">
          <mat-icon  (click)="opened=!opened">menu</mat-icon>
          <span style="padding-left: 10px;">Trang chủ</span>
          
        </div>


        
        
        <div class="toolbar-right">
          <mat-icon class="mat-icon-rtl-mirror" style="padding-right: 10px;">notifications_none</mat-icon>
          
          
          <div class="">
              <div  [matMenuTriggerFor]="menu" >
                <img *ngIf="urlAvartar == null" id="myBtn" src="../../../../assets/img/avatar5.png" style="width: 45px;height: 45px;border-radius: 50%;"/>
                <img *ngIf="urlAvartar != null" id="myBtn" [src]="'http://45.124.94.191:8019'+ urlAvartar" style="width: 45px;height: 45px;border-radius: 50%;"/>
            
              </div>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>
                    <a routerLink="taikhoan" style="color: black;  text-decoration: none;">
                          Thay đổi thông tin
                    </a>
                  </span>
                </button>
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span>
                    <a routerLink="/Login" style="color: black;  text-decoration: none;">
                          Đăng xuất
                    </a>
                  </span>
                </button>
               
              </mat-menu>
            </div>
        </div>


      </mat-toolbar>
      <!-- <div id="myModal" class="modal">

        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
          </div>
          
        </div>
      
      </div> -->
      <div class="content">
        <ng-container>
          <router-outlet></router-outlet>
      </ng-container>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>