<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <div class="mat-tree-node-child">
            <a style="text-decoration: none; color: #fff" routerLink={{node.url}}> {{node.name}}</a>
        </div>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      
        <div class="mat-tree-node" matTreeNodeToggle>
            <mat-icon [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>    
            {{node.name}}
        </div>
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
</mat-tree>