.container-edit {
  max-height: 700px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid #ced4ba;
  border-radius: 0.375rem !important;
  margin: 8px 0 0 10px;
  height: 38px;
}
