<div class="row" style="margin-top: 10px;">

  <div class="col-sm-2">
    <!-- <ng-select [(ngModel)]="selectedArea" (click)="ddlAreaChange($event)">
      <ng-option [value]="-1">Chọn khu vực</ng-option>
      <ng-option [value]="caucang1">Cầu cảng 1</ng-option>
      <ng-option [value]="caucang2">Cầu cảng 2</ng-option>
      <ng-option [value]="tramcan">Trạm cân</ng-option>
    </ng-select> -->
    <select (change)="ddlAreaChange($event)" class="form-control" style="width: 100%;">
      <option [selected]="true" value="-1">Chọn khu vực</option>
      <option value="caucang1">Cầu cảng 1</option>
      <option value="caucang2">Cầu cảng 2</option>
      <option value="tramcan">Trạm cân</option>
    </select>
  </div>
  <div class="col-sm-4" style="display: table-cell;">
    <input class="col-sm-5" type="text" style="width: 45%;float: left;margin-right: 15px;" class="form-control"
      placeholder="Từ ngày" onfocus="(this.type='date')" [ngModel]="ImagesContSeach.FromDate"
      (ngModelChange)="onSearchFromDate($event)">
    <input class="col-sm-5" type="text" style="width: 45%;float: right;" class="form-control" placeholder="Đến ngày"
      onfocus="(this.type='date')" [ngModel]="ImagesContSeach.ToDate" (ngModelChange)="onSearchToDate($event)">
  </div>
  <div class="col-sm-3" style="display: none;">
    <ng-select [disabled]="CheckedImagesEmtry" [(ngModel)]="selectedCont" (click)="ddlContChange($event)">
      <ng-option *ngFor="let item of lstCont" [value]="item.contNo">{{item.contNo}}</ng-option>
    </ng-select>
  </div>
  <div class="col-sm-3">
    <div class="form-group " style="margin-top: 10px;">
      <input type="checkbox" checked="checked" class="mr-2" style="margin-right: 5px;" (change)="checkSelected($event)">
      <label for="txtStatus">Chưa gắn Container</label>
    </div>
  </div>
  <div class="col-sm-3">
    <button style="float: right;" class="btn btn-outline-secondary" type="button" id="button-addon3"
      (click)="btnDowLoad_Click()">Tải ảnh</button>
    <button style="float: right;margin-right: 10px;" class="btn  btn-success" type="button" id="button-addon3"
      (click)="btnSeach_Click()">Tìm
      kiếm</button>
  </div>
</div>
<hr>
<div style="height: 524px; overflow-y: scroll;    overflow-x: hidden;">
  <div *ngIf="listImages.length == 0" style="text-align: center; line-height: 50px;">
    Chưa có dữ liệu !
  </div>
  <div *ngFor="let item of listImages; index as i">
    <div style="float: left;width: 25%;;">
      <div
        style=" font-size: large; width: 100% !important; max-width: 100% !important; display: table; padding: 14px 10px; font-size: initial;">
        {{item.createdOn | date : 'dd/MM/yyyy' }}
        <span style="font-size: 12px;">
          {{item.createdOn | date : 'hh:mm' }}
        </span>
        ({{item.createdBy}})
      </div>
      <div style="padding: 0px 10px;">
        <a (click)="setOpen(item)" style="cursor: pointer;">
          <img *ngIf="item.urlImage" [src]="UrlRoot + item.urlImage" style=" height: 220px; overflow: hidden; width: 100%; border: 1px solid #746f6f;
          ">
        </a>
      </div>
    </div>
  </div>
</div>
