<div class="container-lg" style="width: 700px" >
    <form  (ngSubmit)="onSubmit()">
        <div class="row">
            <div  class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">Import</div >
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-10"> 
                <input type="file" class="custom-file-input" id="customFile" name="myfile"
                (change)="onFileSelect($event)" #UploadFileInput>
           </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button type="button" class="btn btn-primary" type="submit" *ngIf="isImport">Import</button>
            <button type="button" class="btn btn-primary" type="submit" *ngIf="!isImport">Upload</button>
            <button type="button" class="btn btn-danger" style="margin-left: 10px;" mat-button mat-dialog-close>Hủy bỏ</button>
        </div>
    </form>
</div>

