<div class="container-lg">
    <form [formGroup]="CreateEditForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <h1>Thêm mới hàng hóa</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tên hàng hóa</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div *ngIf="submited && name?.errors?.['required']">
                        <span *ngIf="name?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mã</label>
                    <input type="text" class="form-control" formControlName="code">
                    <div *ngIf="submited && code?.errors?.['required']">
                        <span *ngIf="code?.errors?.['required']" style="color: red;">Trường bắt buộc nhập</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Loại sản phẩm</label>
                    <input type="text" class="form-control" formControlName="typeProduct">
                   
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Giá</label>
                    <input type="text" class="form-control" formControlName="price">
                    
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Số lượng</label>
                    <input type="text" class="form-control" formControlName="quantity">
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtPHone">Nhóm sản phẩm</label>
                    <select (change)="getGroupId($event)" formControlName="groupId" class="form-control" style="width: 100%;">
                        <option value=0 >Chọn nhóm sản phẩm</option>
                        <option *ngFor="let item of listProductGroup" [value]="item.id">{{item.name}}
                        </option>

                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label >Đơn vị</label>
                    <select (change)="getUnitId($event)" formControlName="unitId" class="form-control select2" style="width: 100%;">
                        <option value=0>Chọn đơn vị</option>
                        <option *ngFor="let item of listUnit" [value]="item.id">{{item.name}}
                        </option>
                    </select>
                </div>
            </div>
        
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button type="button" class="btn btn-primary" type="submit">Thêm mới</button>
            <button type="button" class="btn btn-danger" style="margin-left: 10px;" mat-button mat-dialog-close>Hủy
                bỏ</button>
        </div>
    </form>
</div>