.container-create form {
  padding-bottom: 30px;
}
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
}
p {
  margin-bottom: 0px;
}
#eir, input,  select, textarea {
  font-size: 12px;
}
td {
  white-space: nowrap;
}
.eir-line1 {
  font-size: 14px;
}
.eir-line1 input {
  font-size: 14px;
}
.displayStyle {
  display: none !important;
}

input, select, span {
  font-weight: bold;
}
span {
  margin-left: 10px;
}

.form-print {
  position: relative;
}

.list-button {
  position: absolute;
  bottom: -10px;
  right: 0px;
}
