
.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  min-width: 150px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

.file-input {
  padding-right: 10px;
}

.file-input button {
  margin-right: 10px;
}

.column-action {
  width: 100px;
}
.eir-line1 table {
  width: 100%;
}
.eir-line1 td {
  width: 30%;
}
.eir-line1 img {
  width: 100px;
}
.eir-line2 {
  margin-bottom: 10px;
}
.eir-table table{
  width: 100%;
  border: 1px solid black;
}

.eir-table td {
  border: 1px solid black;
  width: 30%;
  padding-left: 5px;
}
.eir-line4 table {
  width: 100%;
}
.eir-line4 td {
  width: 50%;
}

.eir-line5 table {
  width: 100%;
}
.eir-line5 td {
  text-align: center;
}
.mr-20 {
  margin-right: 20px;
}
.w-100 {
  width: 100%;
}
.btn-transparent {
  text-align: left;
  border: none;
}
.btn-transparent:hover {
  border: none;
  background-color: #e9ecef;
}
