
.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  min-width: 150px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

.file-input {
  padding-right: 10px;
}

.file-input button {
  margin-right: 10px;
}
