<div class="container-lg" style="width: 700px">
  <form [formGroup]="CreateEditForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div *ngIf="isCreate; else elseBlock" class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">Thêm
        mới khách hàng</div>
      <ng-template #elseBlock style="font-size: large; font-weight: 500; border-bottom: 1px solid #9d9d9d;">
        <div class="title_modal" style="padding-right: 0px; margin-bottom: 20px;">
          Sửa khách hàng
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <!-- Sau này sẽ fix cứng khách hàng đăng nhập vì form này sẽ làm file riêng -->
          <label for="exampleFormControlInput1" class="form-label">Tên Khách hàng</label>
          <input type="text" class="form-control" formControlName="customer">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Hình thức</label><br />
          <select
            class="form-control"
            formControlName="activity"
          >
            <option *ngFor="let activity of activities" [ngValue]="activity.value">{{activity.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Loaị hàng hoá</label>
          <input type="text" class="form-control" formControlName="typeMerchandise">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Loaị container</label>
          <input type="text" class="form-control" formControlName="typeContainer">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tên lái xe</label>
          <input type="text" class="form-control" formControlName="shipperName">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tên tàu</label>
          <input type="text" class="form-control" formControlName="shipName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Địa chỉ trả hàng</label>
          <input type="text" class="form-control" formControlName="positionReturn">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Trạng thái</label>
          <input type="text" class="form-control" formControlName="status">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Thời gian</label>
          <input type="text" class="form-control" formControlName="time">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Ngày check-in</label>
          <input type="datetime-local" class="form-control" formControlName="dateCheckOut">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Ghi chú</label>
          <textarea type="text" class="form-control" formControlName="note"></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button type="button" class="btn btn-primary" type="submit">Ghi nhận</button>
      <button type="button" class="btn btn-danger" style="margin-left: 10px;" mat-button mat-dialog-close>Hủy
        bỏ</button>
    </div>
  </form>
</div>
